#card
{
  width: 400px;
  border: 0.1px solid grey;
  padding: 1% 0.9%;
  box-shadow: 4px 4px 1px grey;
  border-style: inset;
}
.hello
{
  width: 400px;
  border: 0.1px solid grey;
	padding: 1% 0.9%;
}

.title
{
  -webkit-padding-start: 0px;
  list-style-type: none;
}

.italics
{
  font-style: italic;
}

.label
{
  text-align: left;
}

.animal-list-items
{
	font-weight: bold ;
  text-align: left;
  padding-left: 0;
}
